<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="card">

<h2>Questions</h2>

<!-- language dropdown -->
<select id="lang">
<option value="english">English</option>
<option value="hindi">Hindi</option>
<option value="hinglish">Hinglish</option>
</select>

<br><br>

<ul>
{% for q in questions %}
<li>

<b>{{ q.question }}</b> ({{ q.frequency }} times)
<span class="year">[{{ q.year }}]</span>


{% if q.frequency >= 2 %}
<span class="tag">Important 🔥</span>
{% endif %}

<br><br>

<button onclick="getAnswer(`{{q.question}}`)">
Get AI Answer
</button>

{% if selected_question == q.question %}
<div class="ai-answer">
{{ ai_answer | safe }}
</div>
<form method="POST" action="/feedback">
<input type="hidden" name="question" value="{{q.question}}">
<textarea name="feedback" placeholder="Not satisfied?"></textarea>
<button type="submit">Submit Feedback</button>
</form>
{% endif %}

</li>
<br>
{% endfor %}
</ul>

</div>
{% if selected_question %}
<div class="bottom-nav">
<button class="back-btn" onclick="goBack()">⬅ Back</button>
<button class="reload-btn"
onclick="reloadAnswer(`{{selected_question}}`)">
Reload Answer
</button>
</div>
{% endif %}
<!-- external javascript -->
<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>